{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<h3>{{ message }}</h3>

	
		<h3>Наши услуги: </h3>
        <p>
	    1) приём цветного металла<br>
		2) приём отработанного автомобильного масла<br>
		3) приём аккумуляторов<br>
		4) приём кабеля<br>
		5) приём шин<br>
		
		<h3>Дополнительные услуги</h3>
		<p>
		Также мы можем предоставить вам машину с манипулятором, стоимость 2500 руб/час.<br>
		Предоставляем услуги по вывозу мусора и отработанных отходов.<br> <br> 

{% endblock %}
